{% extends "app/layout.html" %}

{% block body %}
<h1 id="prompt">Type in your player:</h1>


<form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit">
</form>
{% if submitted %}
<div id="title"><h2>Here are all the similar players for <span id="player">{{ player_name }}</span>:</h2></div>

<ol>
    {% for each in top_five %}
    <li>{{ each }}</li>
    {% endfor %}
</ol>

{% else %}

{% endif %}
<h3 id="message">{{message}}</h3>
{% endblock %}
